<!DOCTYPE html>
<html lang="en">

<head>
</head>

<body>
  <header>
  <nav class="navbar navbar-default">
    <div class="container">
      <div class="navbar-header">
          <a class="navbar-brand" href="/myfilm"><b> Jendela Film </b></a>
          <p>Anda melakukan kesalahan saat penginputan</p>
          <p>Capitalize Each Word</p>
          <a href="/myfilm">Klik link ini untuk ke halaman utama</a>
      </div>
    </div>
  </nav>
  </header>
</body>

</html>