<div class="search-container">
    <div class="row">
      <div class="col-md-12 subtitle">
        <h2> <b style="font-size: 50px;">Get to know your favorite film</b> </h2>
      </div>
    </div>
    <div class="container-searchbar">
      <div class="row">
        <form method="POST" action="/search">
          <div class="col-md-12" style="padding:20px">
            <div class="icon-search col-md-4" style="width:60%;">
              <input type="text" name="search" placeholder="Cari berdasarkan Judul, Genre, Tahun" style="width:60%;background-color:white;color:black;">
            </div>
            <div class="col-md-4" style="width:10%;">
              <div class="select-style col-md-4">
                <select name="option" style="cursor: pointer;" class="btn btn-info">
                  <option value="judul">Judul</option>
                  <option value="genre">Genre</option>
                  <option value="tahun">Tahun</option>
                  <option value="rating">Rating</option>
                </select>
              </div>
            </div>
            <div class="col-md-4" style="width:5%;">
              <button type="submit" class="btn btn-info"> Search </button>
            </div>
          </div>
        </form>
      </div>
    </div>
</div>